        .scene
        {
          background:url(back.png);
		  background-repeat:repeat;
         
        }
        .brick{
            width:120px;
            height:8px;
            background-color:red;
            border:solid 1px black;
            position:absolute;

        }
        
        #man
        {
          position:absolute;
          /*2013-04-08 basilwang don't know why we can't get null value of style.left
          left:30%;
          top:0px;
          */
		  display:none;
        }
        #fps_count
        {
          position:absolute;
          right:50px;
          top:20px;
          width:200px;
          height:10px;
          z-index:50;
          font-size:25px;
        }
		#bg .score{
			position:absolute;
			font-size:14px;
			font-family:Georgia, "Times New Roman", Times, serif;
			color:#0FF;
			z-index:999;
			background-color:#666;
			width:500px;
			height:30px;
			text-align:center;
			}
		#thorn
		{
			position:absolute;
			z-index:999;
			background:url(ue.png);
			width:450px;
			height:20px;
			text-align:center;
			top:38px;
			left:28px;
			display:none;
		
		}
		#score{
			color:#F60;
			font-size:18px;
		
		
		}
		#wall
		{
			position:absolute;
			z-index:999;
			background:url(mai.png);
			width:500px;
			height:670px;
			text-align:center;
			top:38px;
			display:none;
		}
		#startBtn{
			
			background-image:url(btn.png);
			position:absolute;
			left:200px;
			top:250px;
			cursor:pointer;
			width:100px;
			height:100px;
			overflow:hidden;
			}
		#bat
		{	position:absolute;
			background-color:#06F;
			width:500px;
			height:700px;
			
			
			
			}
		#title
		{	position:absolute;
			font-size:30px;
			font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
			color:#9C0;
			z-index:999;
			left:140px;
			top:200px;
			font-weight:bold;
		}